.formaAB {
  width: 90%;
  margin: 0;
}

.lineaAB {
  display: flex;
  white-space: nowrap;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 5px;
  .clickAB {
    display: flex;
    justify-content: center;
    width: 10%;
  }
  .ptAB {
    display: flex;
    justify-content: center;
    width: 20%;
  }
  .abilitàAB {
    display: flex;
    justify-content: start;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50%;
  }
  .statAB {
    display: flex;
    justify-content: center;
    width: 20%;
  }
}
