.contAll {
  padding: 20px;
}

.intestazione {
  p {
    border-bottom: 1px solid black;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    span {
      display: flex;
      flex-wrap: nowrap;
    }
    .valore {
      font-weight: bold;
      align-self: end;
    }
  }
}

.nomeDelPersonaggio {
  display: flex;
  align-self: center;
  justify-content: center;
  .nomePG {
    font-style: italic;
    font-weight: bold;
    font-size: 1.8em;
  }
}
.titolo {
  font-weight: bold;
  margin-bottom: 10px;
}

.border {
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 10px 0;
}

.titoloIcona {
  width: 90%;
  font-size: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  img {
    height: 20px;
    margin: 0;
  }
  span {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
  }
}
.containerTS {
  display: flex;
  flex-direction: column;
  align-items: center;

  .isp {
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
      height: 30px;
      margin: 0;
    }
  }
  .BComp {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  //tiri salvezza
  .listTS {
    display: flex;
    align-items: center;
    flex-direction: column;
    .viewer {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }
  //abilità
  .listAB {
    display: flex;
    align-items: center;
    flex-direction: column;
    .viewer {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .linea {
        display: flex;
        width: 95%;
        justify-content: space-between;
        margin-bottom: 5px;
        .icon {
          display: flex;
          justify-content: center;
          width: 10%;
        }
        .pt {
          display: flex;
          justify-content: center;
          width: 20%;
        }
        .stat {
          display: flex;
          justify-content: center;
          width: 45%;
        }
        .mod {
          display: flex;
          justify-content: center;
          width: 20%;
        }
      }
    }
  }
}

.containerlinguaggi,
.conteinerComp {
  display: flex;
  align-items: center;
  flex-direction: column;
  ul {
    list-style: none;
    padding: 0;
  }
}

.containerData {
  display: flex;
  align-items: center;
  flex-direction: column;
  .border {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 10px 0;
  }
}

.containerArmor {
  display: flex;
  align-items: center;
  flex-direction: column;
  .viewer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.containerQuip {
  display: flex;
  align-items: center;
  flex-direction: column;
  .viewer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.containerNote {
  display: flex;
  align-items: center;
  flex-direction: column;
  .border {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 10px 0;
  }
  .titolo {
    font-weight: bold;
    margin-bottom: 10px;
  }
  .viewer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .border {
      flex-direction: column;
      align-items: center;
    }
  }
}
